<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waseem.csecrockzz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TimeTableActivity"
                android:label="@string/title_activity_time_table"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
                android:name=".NotificationService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".NotificationUpdater"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name=".ForumActivity"
                android:label="Forum"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".chatActivity"
                android:label="@string/title_activity_chat"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".BunkManager"
                android:label="Bunk Manager"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".addSubActivity"
                android:label="@string/title_activity_add_sub"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".BmDetailedView"
                android:label="@string/title_activity_bm_detailed_view"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>